<section *ngIf="book$ | async as book" class="outer-wrapper">
  <h3>Create test for book: {{book.title}}</h3>
  <h4>Test has to contain 10 questions</h4>
  <section class="test-title">
    Test short title: <form class="delivery-form" [formGroup]="testForm"> <mat-form-field>
      <input
          matInput
          placeholder="Test name"
          formControlName="name"
          required
      />
    </mat-form-field>
  </form>
  </section>
  <section class="question-lists">
    <div *ngFor="let question of questions; index as i" class="question-item">
      <div>{{i+1}}. {{question.sentence}} <button mat-button color="warn" (click)="deleteQuestion(i)"><mat-icon>delete_forever</mat-icon></button></div>
      <div>A: {{question.a}}</div>
      <div>B: {{question.b}}</div>
      <div>C: {{question.c}}</div>
      <div>D: {{question.d}}</div>
      <div>Good Answer: {{question.answer}}</div>
    </div>
  </section>
  <section class="button-wrapper">
    <button mat-raised-button color="primary" (click)="addQuestion()">Add question</button>
    <button mat-raised-button color="primary" (click)="saveQuestions()" [disabled]="questions.length < 10 || sending">Save</button>
    <button mat-raised-button color="warn" [routerLink]="['/books/', book.id]">Cancel</button>
  </section>
</section>
