@import 'src/styles/settings.scss';
@import 'src/styles/utilities.scss';

:host {
  max-width: 1650px;
  margin: auto;
  padding-top: $main-toolbar-height;
  padding: 2rem;
  .outer-wrapper{
    text-align: center;
    h3 {
      color: $primary;
    }
    .test-title {
      text-align: start;
      padding: 1rem;
    }
    .question-lists{
      text-align: left;
      padding: 1rem;
      .question-item {
        border-bottom: 1px solid $primary;
        margin-bottom: 1rem;
        div{
          padding-bottom: 1rem;
        }
      }
    }
    .button-wrapper{
      display: flex;
      button {
        margin: 1rem;
      }
      .disabled {
        background-color: $grey;
      }
    }
  }
}

