<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 mat-dialog-title>Create question</h1>
    <mat-dialog-content>
      <form [formGroup]="qustionForm" class="form-wrapper">
        <mat-form-field>
          <mat-label>Question</mat-label>
          <textarea matInput formControlName="sentence" maxlength="500"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Answer A</mat-label>
          <textarea matInput formControlName="a" maxlength="500"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Answer B</mat-label>
          <textarea matInput formControlName="b" maxlength="500"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Answer C</mat-label>
          <textarea matInput formControlName="c" maxlength="500"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Answer D</mat-label>
          <textarea matInput formControlName="d" maxlength="500"></textarea>
        </mat-form-field>
        <mat-label>Good answer</mat-label>
        <mat-radio-group formControlName="answer" matInput>
          <mat-radio-button value="A">A</mat-radio-button>
          <mat-radio-button value="B">B</mat-radio-button>
          <mat-radio-button value="C">C</mat-radio-button>
          <mat-radio-button value="D">D</mat-radio-button>
          </mat-radio-group>
      </form>

    </mat-dialog-content>
    <mat-dialog-actions class="actions">
      <button
        mat-raised-button
        color="primary"
        (click)="saveQuestion()"
      >Save</button>
      <button mat-button mat-dialog-close>Cancel</button>

    </mat-dialog-actions>
  </div>
