:host .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;
  height: 174px;;
  img {
    height: 100%;
  }
  .basketItem{
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }
}
