<div class="container" *ngIf=basketItem>
  <img [src]="imgRootUrl + basketItem.book.img" />
  <div class="basketItem">
    <h4>{{basketItem.book.title}}</h4>
    <div class="authors">
      <div class="title" *ngFor="let author of basketItem.book.author">
        <img [src]="imgRootUrl + author.authorAvatar" />
        <p>{{author.name}} {{author.surname}}</p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="u-font-bold">
    {{basketItem.bookFormat.format}}
  </div>
  <div>
    <button mat-button (click)="substractBasketItem(basketItem)">-</button>
    {{basketItem.amount}}
    <button mat-button (click)="addBasketItem(basketItem)">+</button>
  </div>
  <div class="u-font-bold">
    {{basketItem.totalPrice | currency}}
  </div>
  <div class="u-font-bold">
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon (click)="deleteBasketItem(basketItem)">delete_forever</mat-icon>
    </button>
  </div>
</div>
