<div class="container">
  <img [src]="basketItem.book.img" />
  <div class="basketItem">
    <h4>{{basketItem.book.title}}</h4>
    <div class="title">
      <img [src]="basketItem.book.authorAvatar" />
      <p>{{basketItem.book.author}}</p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="u-font-bold">
    {{basketItem.book.format | bookFormat}}
  </div>
  <div>
    <button mat-button>-</button>
    {{basketItem.amount}}
    <button mat-button>+</button>
  </div>
  <div class="u-font-bold">
    {{basketItem.totalPrice |currency}}
  </div>
  <div class="u-font-bold">
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
