@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/../settings.scss';
@import '~@angular/../utilities.scss';

*{
  margin: 0px;
  padding: 0px;
}

a {
  display: inline-block;
  color: $main-white;
  text-decoration: none;
}

