.l-MainWrapper {
  width: 100%;
  height: calc(100vh - #{$main-toolbar-height});
}
.u-center-child{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.spacer {
  display:flex;
  flex-grow: 1;
}

.is-not-display {
  display: none
}

