<h2>Add author</h2>
<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="authorForm">
    <form [formGroup]="authorForm">
      <ng-template matStepLabel>Author details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Author First Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Author Last Name" formControlName="surname" required>
      </mat-form-field>
      <div>
        <button mat-button (click)="stepper.reset()" (click)="resetForm()">New</button>
        <button mat-button matStepperNext (click)="authorFormSave()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="authorForm">
    <form [formGroup]="authorForm">
      <ng-template matStepLabel>Author images</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Author First name" formControlName="name" required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious >Back</button>
        <button mat-raised-button (click)="openUploadDialog()">Upload avatar</button>
        <button mat-button (click)="stepper.reset()" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<mat-card *ngIf="savedAuthor$ | async as savedAuthor" class="author-card-wrapper">
  <mat-card-title>{{savedAuthor.name}} {{savedAuthor.surname}}</mat-card-title>
  <img mat-card-image *ngIf="savedAuthor.authorAvatar " [src]=savedAuthor.authorAvatar >
</mat-card>

