<div class="search">
  <h4> Search book</h4>
  <mat-form-field appearance="outline">
    <mat-label>Book name or Author</mat-label>
    <input matInput placeholder="Book name or Author (min 3 characters)" [ngModel]="search$ | async" (ngModelChange)="setSearch($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="wrapper" *ngIf="serarchResult$ | async as serarchResult">
  <h1 *ngIf="serarchResult.length > 0">Search results</h1>
  <div class="wrapper-books">
    <app-search-book *ngFor="let book of serarchResult"  [book]="book"></app-search-book>
  </div>
</div>


<!-- <input name="herosearch" [ngModel]="search$ | async" (ngModelChange)="setSearch($event)"/> -->
