<div class="search">
  <h4> Search book</h4>
  <mat-form-field appearance="outline">
    <mat-label>Book name or Author</mat-label>
    <input matInput placeholder="Book name or Author" [ngModel]="search$ | async" (ngModelChange)="setSearch($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="search-result">
  <div [ngModel]="serarchResult$ | async"></div>
</div>


<!-- <input name="herosearch" [ngModel]="search$ | async" (ngModelChange)="setSearch($event)"/> -->
