@import 'src/styles/settings.scss';
@import 'src/styles/utilities.scss';

:host {
  h2{
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;

  }
  .container {
    margin: 2rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $primary;
    h5 {
      color: $primary
    }
    .delivery-form {
      display: flex;
      flex-direction: column;
      label {
        padding: 0.5rem 0;
        p{
          margin-left: 0.5rem;
          display: inline-block;
        }
      }
    }
    .total-amount {
      text-align: right;
      color: $primary;
      font-weight: bold;
      font-size: 1.5rem;
      button{
        padding: 0.5rem 1rem;
        margin-left: 1rem;
      }
    }
  }
}
