h3 {
  margin: 2rem;
  text-align: center;
}
.dashboard{
  display: flex;
  flex-direction: row;
  .dashboard-button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    button a {
      padding: 2rem;
    }
  }
}

