<h2>Add book</h2>
<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="bookForm">
    <form [formGroup]="bookForm">
      <ng-template matStepLabel>Book basic information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Language" formControlName="language" required>
      </mat-form-field>
      <mat-form-field class="author-search">
        <input type="text" placeholder="Select Author/s" aria-label="Select Users" matInput [matAutocomplete]="auto" formControlName="author">
        <mat-hint>Enter text to find author by name</mat-hint>
      </mat-form-field>
      <div class="user-list-wrapper">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let author of filteredAuhtors | async" [value]="selectedAuthors">
            <div (click)="optionClicked($event, author)">
              <mat-checkbox [checked]="author.selected" (change)="toggleSelection(author)" (click)="$event.stopPropagation()">
                {{ author.name }} {{ author.surname }}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete>
        <label>Selected Authors:</label>
        <mat-list dense>
          <mat-list-item *ngIf="selectedAuthors?.length === 0">(None)</mat-list-item>
          <mat-list-item *ngFor="let author of selectedAuthors">
            {{ author.name }} {{ author.surname }}
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <button mat-button (click)="stepper.reset()" (click)="resetForm()">New</button>
        <button mat-button matStepperNext >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="bookForm">
    <form [formGroup]="bookForm">
      <ng-template matStepLabel>Book additional information</ng-template>
      <mat-form-field>
        <input matInput placeholder="isbn" formControlName="isbn" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Number of pages (Paper edition)" formControlName="numberOfPages" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Publishing house" formControlName="publishingHouse" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Release date</mat-label>
        <input matInput [matDatepicker]="releasePicker" formControlName="releaseDate">
        <mat-datepicker-toggle matSuffix [for]="releasePicker"></mat-datepicker-toggle>
        <mat-datepicker #releasePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genre">
            <mat-option value="comedy">comedy</mat-option>
            <mat-option value="drama">drama</mat-option>
            <mat-option value="fantasy">fantasy</mat-option>
            <mat-option value="novel">novel</mat-option>
            <mat-option value="science-fiction">science-fiction</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Short description" [cdkTextareaAutosize]="true" [cdkAutosizeMaxRows]="10" [cdkAutosizeMinRows]="5" formControlName="shortDescription" required> </textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="bookFormSave()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="bookFormat">
    <form [formGroup]="bookFormat">
      <ng-template matStepLabel>Format</ng-template>
       <mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select formControlName="format">
            <mat-option value="SoftCover">SoftCover</mat-option>
            <mat-option value="HardCover">HardCover</mat-option>
            <mat-option value="Electronic">Electronic</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Quantity" formControlName="quantity" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Price" formControlName="price" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Discount" formControlName="discount" required>
      </mat-form-field>
      <h4>Book version format</h4>
      <div class="format-wrapper-outer">
        <div class="format-wrapper-inner" *ngFor="let format of bookForm.get('bookFormats').value; index as i">
          <div class="icon" (click)="deleteFormat(i)">
            <mat-icon>delete</mat-icon>
          </div>
          <p>{{format.format}}</p>
          <p>Quantity: {{format.quantity}}</p>
          <p>Price: {{format.price}}</p>
          <p>Discount: {{format.discount}}</p>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="addBookFormat()">Add</button>
        <button mat-button matStepperNext (click)="bookFormSave()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="bookForm">
    <form [formGroup]="bookForm">
      <ng-template matStepLabel>Book images</ng-template>
      <div>
        <button mat-button matStepperPrevious >Back</button>
        <button mat-raised-button (click)="openUploadDialog()">Upload image</button>
        <button mat-button (click)="stepper.reset()" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
