@import 'src/styles/settings.scss';
@import 'src/styles/utilities.scss';

:host {
  h2 {
    text-align: center;
    margin: 2rem 0;
  }
  form {
    mat-form-field {
      flex-direction: column;
      display: flex;
      max-width: 500px;
    }
  }

  .book-card-wrapper {
    margin: 2rem;
    max-width: 400px;
  }
  .user-list-wrapper {
    margin: 2rem 0;
  }
  .format-wrapper-outer{
    margin:2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .format-wrapper-inner{
      position: relative;
      margin-right: 1rem;
      width: 7em;
      height: 5em;
      p{
        margin-bottom: 0.5em;
      }
      .icon{
        position: absolute;
        top:0;
        right: 0;
        color: $red;
        cursor: pointer;
      }
    }
  }
}
