<section class="img-wrapper" *ngIf="book">
    <img
        [src]="imgRootUrl + book.img"
    />
    <div class="rating-wrapper">
        <i class="material-icons"> star </i>
        <i class="material-icons"> star </i>
        <i class="material-icons"> star </i>
        <i class="material-icons"> star </i>
        <i class="material-icons"> star </i>
        <span> 503</span>
    </div>
</section>
<section class="details-wrappers" *ngIf="book">
    <div class="title-wrapper">
        <div>
            <h2>{{ book.title }}</h2>
            <div class="header-image" *ngFor="let author of book.author">
                <img [src]="imgRootUrl + author.authorAvatar" />
                <span>{{author.name}} {{author.surname}} </span>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="button-wrapper">
            <button mat-flat-button color="primary" (click)="addToBasket()">Add to basket</button>
        </div>
    </div>
    <div class="line"></div>
    <div class="book-version">
        <div class="book-version_category">
            <button *ngFor="let bookFormat of book.bookFormats"
                mat-raised-button
                [ngClass]="{ active: selectedVersion === bookFormat.format }"
                (click)="onVersionSelected(bookFormat.format)"
            >
                <span>{{bookFormat.format}}</span>
                <span>{{bookFormat.price | currency}}</span>
            </button>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="description-wrapper">
        <h3>Description</h3>
        <p>
          {{book.shortDescription}}
        </p>
    </div>
</section>
