<section class="img-wrapper" *ngIf="book">
    <img
        [src]="imgRootUrl + book.img"
    />
    <div class="rating-wrapper">
      <div class="rate-star" (click)="rateBook(1)">
        <i class="material-icons"> {{book.averageRating > 0.8 ? "star": book.averageRating > 0.4 ? "star_half": "star_border"}} </i>
      </div>
      <div class="rate-star" (click)="rateBook(2)">
        <i class="material-icons"> {{book.averageRating > 1.8 ? "star": book.averageRating > 1.4 ? "star_half": "star_border"}} </i>
      </div>
      <div class="rate-star" (click)="rateBook(3)">
        <i class="material-icons"> {{book.averageRating > 2.8 ? "star": book.averageRating > 2.4 ? "star_half": "star_border"}} </i>
      </div>
      <div class="rate-star" (click)="rateBook(4)">
        <i class="material-icons"> {{book.averageRating > 3.8 ? "star": book.averageRating > 3.4 ? "star_half": "star_border"}} </i>
      </div>
      <div class="rate-star" (click)="rateBook(5)">
        <i class="material-icons"> {{book.averageRating > 4.8 ? "star": book.averageRating > 4.4 ? "star_half": "star_border"}} </i>
      </div>
        <span>{{book.averageRating}} - ({{book.bookRatings.length}})</span>
    </div>
</section>
<section class="details-wrappers" *ngIf="book">
    <div class="title-wrapper">
        <div>
            <h2>{{ book.title }}</h2>
            <div class="header-image" *ngFor="let author of book.author">
                <img [src]="imgRootUrl + author.authorAvatar" />
                <span>{{author.name}} {{author.surname}} </span>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="button-wrapper">
            <button mat-flat-button color="primary" (click)="addToBasket()">Add to basket</button>
        </div>
    </div>
    <div class="line"></div>
    <div class="book-version">
        <div class="book-version_category">
            <button *ngFor="let bookFormat of book.bookFormats"
                mat-raised-button
                [ngClass]="{ active: selectedBookFormat === bookFormat }"
                (click)="onVersionSelected(bookFormat)"
            >
                <span>{{bookFormat.format}}</span>
                <span>{{bookFormat.price | currency}}</span>
            </button>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="description-wrapper">
        <h3>Description</h3>
        <p>
          {{book.shortDescription}}
        </p>
    </div>
</section>
