@import '~@angular/../../../../settings.scss';
@import '~@angular/../../../../utilities.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  height: $main-toolbar-height;
}

.top-menu-items {
  a {
    display: inline-block;
    color: $main-white;
    margin:0 10px;
    text-decoration: none;
  }
}

