<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{'is-not-display': (isHandset$| async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isLoggedIn$ | async">
      <a mat-list-item [routerLink]="['/bookshelf']">
        <mat-icon>stars</mat-icon>
        My bookshelf
      </a>
      <a mat-list-item [routerLink]="['/booksearch']">
        <mat-icon>search</mat-icon>
        Search book
      </a>
      <a mat-list-item [routerLink]="['/basket']">
        <mat-icon>shopping_basket</mat-icon>
        <span *ngIf="currentBasket$ | async as currentBasket" [matBadge]="currentBasket?.basketItems?.length" matBadgeOverlap="false" matBadgeColor="accent">Basket</span>
      </a>
      <a mat-list-item [routerLink]="['/dashboard']" *ngIf="(isAdmin$| async) && (isAdmin$| async).role ==='admin'">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item (click)="logout()" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        Logout
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!(isLoggedIn$ | async)">
      <a mat-list-item [routerLink]="['/user', 'login']">
        <mat-icon>account_box</mat-icon>
        Log in
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="['/home']">
        Bookstore
      </a>
      <span class="spacer"></span>
      <div *ngIf="isLoggedIn$ | async"
        class="top-menu-items"
        [ngClass]="{'is-not-display': (isHandset$| async)}"
      >
        <a mat-list-item [routerLink]="['/bookshelf']">My bookshelf</a>
        <a mat-list-item [routerLink]="['/booksearch']">Search book</a>
        <a mat-list-item [routerLink]="['/basket']">
          <span *ngIf="currentBasket$ | async as currentBasket" [matBadge]="currentBasket?.basketItems?.length" matBadgeOverlap="false" matBadgeColor="accent">Basket</span>
        </a>
        <a mat-list-item [routerLink]="['/dashboard']" *ngIf="(isAdmin$ | async) && (isAdmin$| async).role ==='admin'">Dashboard</a>
        <a mat-list-item (click)="logout()" [routerLink]="['/home']">Logout</a>
      </div>
      <div *ngIf="!(isLoggedIn$ | async)"
        class="top-menu-items"
        [ngClass]="{'is-not-display': (isHandset$| async)}"
      >
        <a mat-list-item [routerLink]="['/user', 'login']">Log in</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
