@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/../settings.scss';
@import '~@angular/../utilities.scss';

*{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Roboto';
}

body {
  background-color: #fafafa;
}

a {
  display: inline-block;
  color: $main-white;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 3rem
}

h2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2.5rem
}

h3 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem
}

h4 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5rem
}

h5 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2rem
}
